<%- include('../../includes/_top.ejs') %>
<!-- content @s -->
<div class="nk-content ">
    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
        <div class="brand-logo pb-4 text-center">
            <a href="https://becued.com" class="logo-link">
                <img class="logo-light logo-img logo-img-lg"
                    src="https://res.cloudinary.com/becued-technologies/image/upload/v1642375277/becued/assets/Group_ctpkz5.svg"
                    srcset="https://res.cloudinary.com/becued-technologies/image/upload/v1642375277/becued/assets/Group_ctpkz5.svg
                    2x" alt="logo">
                <img class="logo-dark logo-img logo-img-lg"
                    src="https://res.cloudinary.com/becued-technologies/image/upload/v1642375277/becued/assets/Group_ctpkz5.svg"
                    srcset="https://res.cloudinary.com/becued-technologies/image/upload/v1642375277/becued/assets/Group_ctpkz5.svg
                    2x" alt="logo-dark">
            </a>
        </div>
        <div class="card">
            <div class="card-inner card-inner-lg">
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h4 class="nk-block-title">Password Reset</h4>
                        <div class="nk-block-des">
                            <p>Please provide your email address for a reset link</p>
                        </div>
                    </div>
                </div>
                <form action="#" method="post" id="formElem">
                    <div class="form-group">
                        <div class="form-label-group">
                            <label class="form-label" for="email">Email Address</label>
                        </div>
                        <input type="email" name="email" class="form-control form-control-lg" id="email"
                            placeholder="Enter your email">
                    </div>


                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block submitBtn" type="button"
                            onclick="passwordReset()">Reset Password</button>

                        <button class="btn btn-primary btn-lg btn-block spinload disp-0" type="button" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span> Loading... </span>
                        </button>
                    </div>
                </form>
                <div class="form-note-s2 text-center pt-4"> I remember my login - <a href="/auth/login">Login to
                        account</a></div>
            </div>

        </div>
    </div>
</div>

</div>

<%- include('../../includes/_bottom.ejs') %>