<!-- sidebar @s -->
<div class="nk-sidebar nk-sidebar-fixed is-light " data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand">
            <a href="/dashboard" class="logo-link nk-sidebar-logo">
                <img class="logo-light logo-img"
                    src="https://res.cloudinary.com/becued-technologies/image/upload/v1642375277/becued/assets/Group_ctpkz5.svg"
                    srcset="https://res.cloudinary.com/becued-technologies/image/upload/v1642375277/becued/assets/Group_ctpkz5.svg
                    2x" alt="logo">
                <img class="logo-dark logo-img"
                    src="https://res.cloudinary.com/becued-technologies/image/upload/v1642375277/becued/assets/Group_ctpkz5.svg"
                    srcset="https://res.cloudinary.com/becued-technologies/image/upload/v1642375277/becued/assets/Group_ctpkz5.svg
                    2x" alt="logo-dark">
                <img class="logo-small logo-img logo-img-small"
                    src="https://res.cloudinary.com/becued-technologies/image/upload/v1642375277/becued/assets/Group_ctpkz5.svg"
                    srcset="https://res.cloudinary.com/becued-technologies/image/upload/v1642375277/becued/assets/Group_ctpkz5.svg
                    2x" alt="logo-small">
            </a>
        </div>
        <div class="nk-menu-trigger mr-n2">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em
                    class="icon ni ni-arrow-left"></em></a>
            <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em
                    class="icon ni ni-menu"></em></a>
        </div>
    </div><!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">Use-Case Preview</h6>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="https://www.becued.com" class="nk-menu-link" target="_blank">
                            <span class="nk-menu-icon"><em class="icon ni ni-bag"></em></span>
                            <span class="nk-menu-text">Becued Home</span><span
                                class="nk-menu-badge badge-danger">HOT</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">Dashboards</h6>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="/dashboard" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-cart-fill"></em></span>
                            <span class="nk-menu-text">Home</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="/dashboard/earnings" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-activity-round-fill"></em></span>
                            <span class="nk-menu-text">Earnings</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="/dashboard/analytics" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-growth-fill"></em></span>
                            <span class="nk-menu-text">Analytics</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">Applications</h6>
                    </li><!-- .nk-menu-heading -->
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-tile-thumb-fill"></em></span>
                            <span class="nk-menu-text">All Users</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="/dashboard/fans" class="nk-menu-link"><span
                                        class="nk-menu-text">Fans</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/celebs" class="nk-menu-link"><span
                                        class="nk-menu-text">Celebrity</span></a>
                            </li>
                        </ul><!-- .nk-menu-sub -->
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span>
                            <span class="nk-menu-text">Bookings</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="/dashboard/acceptedbookings" class="nk-menu-link"><span
                                        class="nk-menu-text">Accepted</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/pendingbookings" class="nk-menu-link"><span
                                        class="nk-menu-text">Pending</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/declinedbookings" class="nk-menu-link"><span
                                        class="nk-menu-text">Declined</span></a>
                            </li>

                        </ul><!-- .nk-menu-sub -->
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-cc-alt2-fill"></em></span>
                            <span class="nk-menu-text">Earnings</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="/dashboard/celebearnings" class="nk-menu-link"><span
                                        class="nk-menu-text">Celebrity
                                        earnings</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/becueddeduction" class="nk-menu-link"><span
                                        class="nk-menu-text">Becued deduction</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/becuedescrow" class="nk-menu-link"><span class="nk-menu-text">Becued
                                        escrow</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/transactionhistory" class="nk-menu-link"><span
                                        class="nk-menu-text">Transaction history</span></a>
                            </li>

                        </ul><!-- .nk-menu-sub -->
                    </li><!-- .nk-menu-item -->


                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-cc-alt2-fill"></em></span>
                            <span class="nk-menu-text">Banking</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="/dashboard/celebbanks" class="nk-menu-link"><span
                                        class="nk-menu-text">Celebrity Banks</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/addedcards" class="nk-menu-link"><span class="nk-menu-text">Added
                                        Cards</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/withdrawalrequest" class="nk-menu-link"><span
                                        class="nk-menu-text">Withdrawal Requests</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/withdrawalprocessed" class="nk-menu-link"><span
                                        class="nk-menu-text">Withdrawal Processed</span></a>
                            </li>

                        </ul><!-- .nk-menu-sub -->
                    </li><!-- .nk-menu-item -->


                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-grid-alt-fill"></em></span>
                            <span class="nk-menu-text">Waiting List</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="/dashboard/waitlist" class="nk-menu-link"><span class="nk-menu-text">Wait
                                        List</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/talents" class="nk-menu-link"><span class="nk-menu-text">Join as
                                        Talent</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/partners" class="nk-menu-link"><span class="nk-menu-text">Become a
                                        Partner</span></a>
                            </li>

                        </ul>
                    </li>


                    <!-- <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                            <span class="nk-menu-text">Invoice</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="html/invoice-list.html" class="nk-menu-link"><span class="nk-menu-text">Invoice
                                        List</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="html/invoice-details.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Invoice Details</span></a>
                            </li>
                        </ul>
                    </li> -->


                </ul><!-- .nk-menu -->
            </div><!-- .nk-sidebar-menu -->
        </div><!-- .nk-sidebar-content -->
    </div><!-- .nk-sidebar-element -->
</div>
<!-- sidebar @e -->