<!-- sidebar @s -->
<div class="nk-sidebar nk-sidebar-fixed is-light " data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand">
            <a href="/dashboard" class="logo-link nk-sidebar-logo">
                <img class="logo-light logo-img"
                    src="https://res.cloudinary.com/growng/image/upload/v1652145577/assets/Green_PNG_mehxeo.png" srcset="https://res.cloudinary.com/growng/image/upload/v1652145577/assets/Green_PNG_mehxeo.png
                    2x" alt="logo">
                <img class="logo-dark logo-img"
                    src="https://res.cloudinary.com/growng/image/upload/v1652145577/assets/Green_PNG_mehxeo.png" srcset="https://res.cloudinary.com/growng/image/upload/v1652145577/assets/Green_PNG_mehxeo.png
                    2x" alt="logo-dark">
                <img class="logo-small logo-img logo-img-small"
                    src="https://res.cloudinary.com/growng/image/upload/v1652145577/assets/Green_PNG_mehxeo.png" srcset="https://res.cloudinary.com/growng/image/upload/v1652145577/assets/Green_PNG_mehxeo.png
                    2x" alt="logo-small">
            </a>
        </div>
        <div class="nk-menu-trigger mr-n2">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em
                    class="icon ni ni-arrow-left"></em></a>
            <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em
                    class="icon ni ni-menu"></em></a>
        </div>
    </div><!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">Use-Case Preview</h6>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="https://growng.company" class="nk-menu-link" target="_blank">
                            <span class="nk-menu-icon"><em class="icon ni ni-bag"></em></span>
                            <span class="nk-menu-text">Growng Home</span><span
                                class="nk-menu-badge badge-danger">HOT</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">Dashboards</h6>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="/dashboard" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-cart-fill"></em></span>
                            <span class="nk-menu-text">Home</span>
                        </a>
                    </li><!-- .nk-menu-item -->

                    <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">Applications</h6>
                    </li><!-- .nk-menu-heading -->

                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-tile-thumb-fill"></em></span>
                            <span class="nk-menu-text">General</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="javascript:void(0)" class="nk-menu-link"><span class="nk-menu-text"
                                        onclick="sendGeneralMail()">Send
                                        message</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/sentmessages" class="nk-menu-link"><span class="nk-menu-text">View
                                        messages</span></a>
                            </li>

                            <li class="nk-menu-item d-none">
                                <a href="/dashboard/faq" class="nk-menu-link"><span class="nk-menu-text">FAQ</span></a>
                            </li>
                        </ul><!-- .nk-menu-sub -->
                    </li><!-- .nk-menu-item -->

                    <li class="nk-menu-item has-sub">
                        <a href="/dashboard/user" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-tile-thumb-fill"></em></span>
                            <span class="nk-menu-text">User List</span>
                        </a>

                    </li><!-- .nk-menu-item -->



                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span>
                            <span class="nk-menu-text">Knowledge Hub</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="/dashboard/kbs/create" class="nk-menu-link"><span class="nk-menu-text">Create
                                        new</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/kbs" class="nk-menu-link"><span
                                        class="nk-menu-text">View all</span></a>
                            </li>


                        </ul><!-- .nk-menu-sub -->
                    </li><!-- .nk-menu-item -->

                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-cc-alt2-fill"></em></span>
                            <span class="nk-menu-text">Crops</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="javasscript:void(0)" class="nk-menu-link"><span class="nk-menu-text">Create
                                        new</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="/dashboard/growngdeduction" class="nk-menu-link"><span
                                        class="nk-menu-text">View all</span></a>
                            </li>

                        </ul><!-- .nk-menu-sub -->
                    </li><!-- .nk-menu-item -->

                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-cc-alt2-fill"></em></span>
                            <span class="nk-menu-text">API Calls</span>
                        </a>
                    </li><!-- .nk-menu-item -->


                </ul><!-- .nk-menu -->
            </div><!-- .nk-sidebar-menu -->
        </div><!-- .nk-sidebar-content -->
    </div><!-- .nk-sidebar-element -->
</div>
<!-- sidebar @e -->