<script>
    $(document).ready(function () {
        $("#default-04").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".nk-tb-item").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    // Rendering to header 
    $('#headerUserDropdown').html(`
        <a href="javascript:void()" class="dropdown-toggle mr-n1" data-toggle="dropdown">
            <div class="user-toggle">
                <div class="user-avatar sm">
                    <img src="${JSON.parse(localStorage.getItem('user')).avatar}"
                        alt="${JSON.parse(localStorage.getItem('user')).username}" />
                </div>
                <div class="user-info d-none d-xl-block">
                    <div class="user-status user-status-verified">
                        ${JSON.parse(localStorage.getItem('user')).accountType.charAt(0).toUpperCase() +
        JSON.parse(localStorage.getItem('user')).accountType.slice(1)} Admin</div>
                    <div class="user-name dropdown-indicator">
                        ${JSON.parse(localStorage.getItem('user')).username.charAt(0).toUpperCase() +
        JSON.parse(localStorage.getItem('user')).username.slice(1)}</div>
                </div>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                <div class="user-card">
                    <div class="user-avatar">
                        <img src="${JSON.parse(localStorage.getItem('user')).avatar}"
                            alt="${JSON.parse(localStorage.getItem('user')).username}" />
                    </div>
                    <div class="user-info">
                        <span
                            class="lead-text">${JSON.parse(localStorage.getItem('user')).username.toUpperCase()}</span>
                        <span class="sub-text">${JSON.parse(localStorage.getItem('user')).email}</span>
                    </div>
                </div>
            </div>
            <div class="dropdown-inner">
                <ul class="link-list">
                    <li><a href="javascript:void()"><em class="icon ni ni-user-alt"></em><span>View
                                Profile</span></a></li>
                    <li><a href="javascript:void()"><em class="icon ni ni-setting-alt"></em><span>Account
                                Setting</span></a></li>
                    <li><a href="javascript:void()"><em class="icon ni ni-activity-alt"></em><span>Login
                                Activity</span></a></li>
                    <li><a class="dark-switch" href="javascript:void()"><em class="icon ni ni-moon"></em><span>Dark
                                Mode</span></a>
                    </li>
                </ul>
            </div>
            <div class="dropdown-inner">
                <ul class="link-list">
                    <li><a href="javascript:void(0)" onclick="logout()"><em
                                class="icon ni ni-signout"></em><span>Sign
                                out</span></a></li>
                </ul>
            </div>
        </div>
    `);


    // Get Total earnings
    async function getEarnings() {
        try {

            $("#totalEarnings").html(`
            <div class="data-group">
                <div class="amount">
                    <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    </div>
                <div class="nk-ecwg6-ck">
                    <canvas class="ecommerce-line-chart-s3" id="todayRevenue"></canvas>
                </div>
            </div>
            `);

            var sum = 0;
            route = `${baseUrl}/becued/totalearning`;
            config = {
                method: 'get',
                headers: header,
                url: route
            };

            response = await axios(config);

            for (let i = 0; i < response.data.data.length; i++) {
                const element = response.data.data[i];

                sum += element.total;
            }


            $("#totalEarnings").html(`
                <div class="data-group">
                    <div class="amount">$${parseFloat(sum.toFixed(2))}</div>
                    <div class="nk-ecwg6-ck">
                        <canvas class="ecommerce-line-chart-s3" id="todayRevenue"></canvas>
                    </div>
                </div>
                <div class="info"><span class="change down text-danger"><em
                            class="icon ni
                            ni-arrow-long-down"></em>${(response.data.data.length > 0 ?
                    parseFloat((sum / response.data.data.length).toFixed(2)) : 0)}%</span><span>
                        vs. last week</span></div>
            `);

        } catch (error) {

            if (error.response) {
                messageAlert(`<h5>${error.response.statusText}</h5>
            <p>${error.response.data.message}. Retry login</p>`, `error`);
            } else {
                messageAlert(`<h5>Oops!</h5>
            <p>${error.message}</p>`, `error`);
            }

        }
    }
    getEarnings();


    // Get Total Celebrities ...
    async function getCelebs() {
        try {

            $("#allListedCelebs").html(`
            <div class="nk-tb-col">
                <span class="tb-lead">
                    <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </span>
            </div>
            `);
            celebNewHtml = "";

            $("#totalCelebs").html(`
    <div class="data-group">
        <div class="amount">
            <div class="spinner-grow text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            </div>
        <div class="nk-ecwg6-ck">
            <canvas class="ecommerce-line-chart-s3" id="todayCustomers"></canvas>
        </div>
    </div>
    `);

            var sum = 0;
            route = `${baseUrl}/becued/celebs`;
            config = {
                method: 'get',
                headers: header,
                url: route
            };

            response = await axios(config);

            $("#allListedCelebs").html('');


            $("#totalCelebs").html(` <div class="data-group">
                <div class="amount">${response.data.data.length}</div>
                <div class="nk-ecwg6-ck">
                    <canvas class="ecommerce-line-chart-s3" id="todayCustomers"></canvas>
                </div>
            </div>
            <div class="info"><span class="change up text-danger"><em
                        class="icon ni ni-arrow-long-up"></em>${parseFloat(response.data.data.length *
                100 / 500).toFixed(2)}%</span><span>
                    vs. last week</span></div>
        `);


            $('#totalCelebsCount').text(`You have total ${response.data.data.length} celebrities`);

            for (let i = 0; i < response.data.data.length; i++) {
                const element = response.data.data[i];
                celebNewHtml += `
                <div class="nk-tb-item">
                <div class="nk-tb-col nk-tb-col-check">
                    <div class="custom-control custom-control-sm custom-checkbox notext">
                        <input type="checkbox" class="custom-control-input" id="uid1">
                        <label class="custom-control-label" for="uid1"></label>
                    </div>
                </div>
                <div class="nk-tb-col">
                    <a href="#">
                        <div class="user-card">
                            <div class="user-avatar bg-primary">
                                <img src="${element.avatar == null ? defaultAvatarUrl : element.avatar}">
                            </div>
                            <div class="user-info">
                                <span class="tb-lead">${element.fullname} <span
                                        class="dot dot-success d-md-none ml-1"></span></span>
                                <span>${element.email}</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="nk-tb-col tb-col-md">
                    <span>${element.phoneNumber == null ? '-' : element.phoneNumber}</span>
                </div>
                <div class="nk-tb-col tb-col-lg">
                    <span>${element.isSocialAccount[0].platform == 'default' ? `BECUED` :
                        element.isSocialAccount[0].platform.toUpperCase()}</span>
                </div>
                <div class="nk-tb-col tb-col-lg">
                    <span>${new Date(element.created_at).toLocaleString('en-GB', dateOption)}</span>
                </div>
                <div class="nk-tb-col tb-col-md">
                    <span
                        class="tb-status ${element.accountStatus != null || element.accountStatus == 'Active' ? `text-success` : `text-danger`}">${element.accountStatus
                        == null ? `Active` : element.accountStatus}</span>
                </div>
                <div class="nk-tb-col nk-tb-col-tools">
                    <ul class="nk-tb-actions gx-1">
                        <li class="nk-tb-action-hidden">
                            <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip"
                                data-placement="top" title="Send Email">
                                <em class="icon ni ni-mail-fill"></em>
                            </a>
                        </li>
                        <li class="nk-tb-action-hidden">
                            <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip"
                                data-placement="top" title="Suspend">
                                <em class="icon ni ni-user-cross-fill"></em>
                            </a>
                        </li>
                        <li>
                            <div class="drodown">
                                <a href="javascript:void()" class="dropdown-toggle btn btn-icon btn-trigger"
                                    data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="link-list-opt no-bdr">
                                        <li><a href="#"><em class="icon ni ni-eye"></em><span>View
                                                    Details</span></a></li>
                                        <li><a href="#"><em class="icon ni ni-repeat"></em><span>Send
                                                    Email</span></a>
                                        </li>
                                        <li><a href="#"><em
                                                    class="icon ni ni-activity-round"></em><span>Suspend</span></a>
                                        </li>
                                        <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove</span></a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
                `;
            }

            $("#allListedCelebs").append(`<div class="nk-tb-item nk-tb-head">
                    <div class="nk-tb-col nk-tb-col-check">
                        <div class="custom-control custom-control-sm custom-checkbox notext">
                            <input type="checkbox" class="custom-control-input" id="uid">
                            <label class="custom-control-label" for="uid"></label>
                        </div>
                    </div>
                    <div class="nk-tb-col"><span class="sub-text">User</span></div>
                    <div class="nk-tb-col tb-col-md"><span class="sub-text">Phone</span></div>
                    <div class="nk-tb-col tb-col-lg"><span class="sub-text">Platform</span></div>
                    <div class="nk-tb-col tb-col-lg"><span class="sub-text">Date Created</span></div>
                    <div class="nk-tb-col tb-col-md"><span class="sub-text">Status</span></div>
                    <div class="nk-tb-col nk-tb-col-tools">
                        <ul class="nk-tb-actions gx-1 my-n1">
                            <li>
                                <div class="drodown">
                                    <a href="javascript:void()" class="dropdown-toggle btn btn-icon btn-trigger mr-n1"
                                        data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="#"><em class="icon ni ni-mail"></em><span>Send Email to
                                                        All</span></a></li>
                                            <li><a href="#"><em class="icon ni ni-na"></em><span>Suspend
                                                        Selected</span></a></li>
                                            <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove
                                                        Seleted</span></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>${celebNewHtml}
                </div>`);



        } catch (error) {

            if (error.response) {
                messageAlert(`<h5>${error.response.statusText}</h5>
            <p>${error.response.data.message}. Retry login</p>`, `error`);
            } else {
                messageAlert(`<h5>Oops!</h5>
            <p>${error.message}</p>`, `error`);
            }

        }
    }
    getCelebs();

    // Get Total Fans ...

    async function getFans() {
        try {

            $("#allListedFans").html(`
            <div class="nk-tb-col">
                <span class="tb-lead">
                    <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </span>
            </div>
            `);
            fanNewHtml = "";

            $("#totalFans").html(`
        <div class="data-group">
            <div class="amount">
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="nk-ecwg6-ck">
                <canvas class="ecommerce-line-chart-s3" id="todayVisitors"></canvas>
            </div>
        </div>
        `);

            var sum = 0;
            route = `${baseUrl}/becued/fans`;
            config = {
                method: 'get',
                headers: header,
                url: route
            };

            response = await axios(config);

            $("#allListedFans").html('');


            $("#totalFans").html(` <div class="data-group">
                <div class="amount">${response.data.data.length}</div>
                <div class="nk-ecwg6-ck">
                    <canvas class="ecommerce-line-chart-s3" id="todayVisitors"></canvas>
                </div>
            </div>
            <div class="info"><span class="change down text-danger"><em
                        class="icon ni ni-arrow-long-down"></em>${parseFloat(response.data.data.length *
                100 / 5000).toFixed(2)}%</span><span>
                    vs. last week</span></div>
        `);


            $('#totalFansCount').text(`You have total ${response.data.data.length} fans`);

            for (let i = 0; i < response.data.data.length; i++) {
                const element = response.data.data[i];


                fanNewHtml += ` <div class="nk-tb-item">
                <div class="nk-tb-col nk-tb-col-check">
                    <div class="custom-control custom-control-sm custom-checkbox notext">
                        <input type="checkbox" class="custom-control-input" id="uid1">
                        <label class="custom-control-label" for="uid1"></label>
                    </div>
                </div>
                <div class="nk-tb-col">
                    <a href="#">
                        <div class="user-card">
                            <div class="user-avatar bg-primary">
                                <img src="${element.avatar == null ? defaultAvatarUrl : element.avatar}">
                            </div>
                            <div class="user-info">
                                        <span class="tb-lead">${element.fullname} <span
                                                class="dot dot-success d-md-none ml-1"></span></span>
                                <span>${element.email}</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="nk-tb-col tb-col-md">
                    <span>${element.phoneNumber == null ? '-' : element.phoneNumber}</span>
                </div>
                <div class="nk-tb-col tb-col-lg">
                    <span>${element.isSocialAccount[0].platform == 'default' ? `BECUED` :
                        element.isSocialAccount[0].platform.toUpperCase()}</span>
                </div>
                <div class="nk-tb-col tb-col-lg">
                    <span>${new Date(element.created_at).toLocaleString('en-GB', dateOption)}</span>
                </div>
                <div class="nk-tb-col tb-col-md">
                    <span class="tb-status ${element.accountStatus != null || element.accountStatus == 'Active' ? `text-success` : `text-danger`}">${element.accountStatus == null ? `Active` : element.accountStatus}</span>
                </div>
                <div class="nk-tb-col nk-tb-col-tools">
                    <ul class="nk-tb-actions gx-1">
                        <li class="nk-tb-action-hidden">
                            <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top"
                                title="Send Email">
                                <em class="icon ni ni-mail-fill"></em>
                            </a>
                        </li>
                        <li class="nk-tb-action-hidden">
                            <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top"
                                title="Suspend">
                                <em class="icon ni ni-user-cross-fill"></em>
                            </a>
                        </li>
                        <li>
                            <div class="drodown">
                                <a href="javascript:void()" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em
                                        class="icon ni ni-more-h"></em></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="link-list-opt no-bdr">
                                        <li><a href="#"><em class="icon ni ni-eye"></em><span>View
                                                    Details</span></a></li>
                                        <li><a href="#"><em class="icon ni ni-repeat"></em><span>Send
                                                    Email</span></a>
                                        </li>
                                        <li><a href="#"><em
                                                    class="icon ni ni-activity-round"></em><span>Suspend</span></a>
                                        </li>
                                        <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove</span></a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            `;
            }

            $("#allListedFans").append(`<div class="nk-tb-item nk-tb-head">
                <div class="nk-tb-col nk-tb-col-check">
                    <div class="custom-control custom-control-sm custom-checkbox notext">
                        <input type="checkbox" class="custom-control-input" id="uid">
                        <label class="custom-control-label" for="uid"></label>
                    </div>
                </div>
                <div class="nk-tb-col"><span class="sub-text">User</span></div>
                <div class="nk-tb-col tb-col-md"><span class="sub-text">Phone</span></div>
                <div class="nk-tb-col tb-col-lg"><span class="sub-text">Platform</span></div>
                <div class="nk-tb-col tb-col-lg"><span class="sub-text">Date Created</span></div>
                <div class="nk-tb-col tb-col-md"><span class="sub-text">Status</span></div>
                <div class="nk-tb-col nk-tb-col-tools">
                    <ul class="nk-tb-actions gx-1 my-n1">
                        <li>
                            <div class="drodown">
                                <a href="javascript:void()" class="dropdown-toggle btn btn-icon btn-trigger mr-n1"
                                    data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="link-list-opt no-bdr">
                                        <li><a href="#"><em class="icon ni ni-mail"></em><span>Send Email to
                                                    All</span></a></li>
                                        <li><a href="#"><em class="icon ni ni-na"></em><span>Suspend
                                                    Selected</span></a></li>
                                        <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove
                                                    Seleted</span></a></li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>${fanNewHtml}
            </div>`);


        } catch (error) {

            if (error.response) {
                messageAlert(`<h5>${error.response.statusText}</h5>
            <p>${error.response.data.message}. Retry login</p>`, `error`);
            } else {
                messageAlert(`<h5>Oops!</h5>
            <p>${error.message}</p>`, `error`);
            }

        }
    }
    getFans();


    //  Get All Wait List

    async function getWaiting() {
        try {

            $("#allWaitlist").html(`
            <div class="nk-tb-col">
                <span class="tb-lead">
                    <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </span>
            </div>
            `);
            waitNewHtml = "";

            $("#totalWaiting").html(`
        <div class="data-group">
            <div class="amount">
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                </div>
            <div class="nk-ecwg6-ck">
                <canvas class="ecommerce-line-chart-s3" id="todayOrders"></canvas>
            </div>
        </div>
        
        `);

            var sum = 0;
            route = `${baseUrl}/becued/waitlist`;
            config = {
                method: 'get',
                headers: header,
                url: route
            };

            response = await axios(config);
            $("#allWaitlist").html(``);

            $("#totalWaiting").html(` <div class="data-group">
                <div class="amount">${response.data.data.length}</div>
                <div class="nk-ecwg6-ck">
                    <canvas class="ecommerce-line-chart-s3" id="todayOrders"></canvas>
                </div>
            </div>
            <div class="info"><span class="change up text-danger"><em
                        class="icon ni ni-arrow-long-up"></em>${parseFloat(response.data.data.length *
                100 / 50000).toFixed(2)}%</span><span>
                    vs. last week</span></div>
        `);


            $("#countWaiting").text(`You have total ${response.data.data.length} on wait list.`);
            for (let i = 0; i < response.data.data.length; i++) {
                const element = response.data.data[i];

                waitNewHtml += `
                <div class="nk-tb-item">
                    <div class="nk-tb-col nk-tb-col-check">
                        <div class="custom-control custom-control-sm custom-checkbox notext">
                            <input type="checkbox" class="custom-control-input" id="uid1">
                            <label class="custom-control-label" for="uid1"></label>
                        </div>
                    </div>
                    <div class="nk-tb-col">
                        <a href="javascript:void()">
                            <div class="user-card">
                                <div class="user-avatar bg-primary">
                                    <span>${(element.name.charAt(0) +
                        element.name.charAt(1)).toUpperCase()}</span>
                                </div>
                                <div class="user-info">
                                    <span class="tb-lead">${element.name}<span
                                            class="dot dot-success d-md-none ml-1"></span></span>
                                    <span>${element.email}</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="nk-tb-col tb-col-lg">
                        <span>${element.favourite_celebrity}</span>
                    </div>
                    <div class="nk-tb-col tb-col-lg">
                        <span>${new Date(element.created_at).toLocaleString('en-GB', dateOption)}</span>
                    </div>

                    <div class="nk-tb-col nk-tb-col-tools">
                        <ul class="nk-tb-actions gx-1">
                            <li class="nk-tb-action-hidden">
                                <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top"
                                    title="Send Email">
                                    <em class="icon ni ni-mail-fill"></em>
                                </a>
                            </li>
                            <li class="nk-tb-action-hidden">
                                <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top"
                                    title="Suspend">
                                    <em class="icon ni ni-user-cross-fill"></em>
                                </a>
                            </li>
                            <li>
                                <div class="drodown">
                                    <a href="javascript:void()" class="dropdown-toggle btn btn-icon btn-trigger"
                                        data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="#" class="" data-toggle="modal"
                                                    data-target="#modalDefault${element._id}"><em
                                                        class="icon ni ni-eye"></em><span>Quick view</span></a></li>
                                            <li><a href="javascript:void()"><em class="icon ni ni-repeat"></em><span>Send
                                                        Email</span></a>
                                            </li>

                                            <li><a href="javascript:void()"><em class="icon ni ni-trash"></em><span>Remove</span></a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal fade zoom" tabindex="-1" id="modalDefault${element._id}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                <em class="icon ni ni-cross"></em>
                            </a>
                            <div class="modal-header">
                                <h5 class="modal-title">${element.name}</h5>
                            </div>
                            <div class="modal-body">
                                <div class="mb-4 ml-1 row">
                                    
                                    <div class="user-avatar lg bg-primary d-none d-sm-flex">
                                        <span>${(element.name.charAt(0) +
                                            element.name.charAt(1)).toUpperCase()}</span>
                                    </div>
                                </div>

                                <div class="mx-auto row d-flex align-items-center">
                                    <div class="row g-3">
                                        
                                        <div class="col-6">
                                            <span class="sub-text">Email:</span>
                                            <span>${element.email}</span>
                                        </div>
                                        <div class="col-6">
                                            <span class="sub-text">Favourite Celebrity:</span>
                                            <span
                                                class="lead-text
                                                text-danger">${element.favourite_celebrity}</span>
                                        </div>
                                        <div class="col-12">
                                            <span class="sub-text">Date Added:</span>
                                            <span>${new Date(element.created_at).toLocaleString('en-GB',
                                                dateOption)}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
                `;
            }

            $("#allWaitlist").append(`<div class="nk-tb-item nk-tb-head">
                <div class="nk-tb-col nk-tb-col-check">
                    <div class="custom-control custom-control-sm custom-checkbox notext">
                        <input type="checkbox" class="custom-control-input" id="uid">
                        <label class="custom-control-label" for="uid"></label>
                    </div>
                </div>
                <div class="nk-tb-col"><span class="sub-text">User</span></div>
                
                <div class="nk-tb-col tb-col-lg"><span class="sub-text">Favourite Celebrity</span></div>
                <div class="nk-tb-col tb-col-md"><span class="sub-text">Date Added</span></div>
                <div class="nk-tb-col nk-tb-col-tools">
                    <ul class="nk-tb-actions gx-1 my-n1">
                        <li>
                            <div class="drodown">
                                <a href="javascript:void()" class="dropdown-toggle btn btn-icon btn-trigger mr-n1"
                                    data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="link-list-opt no-bdr">
                                        <li><a href="javascript:void()"><em class="icon ni ni-mail"></em><span>Send Email to
                                                    All</span></a></li>

                                        <li><a href="javascript:void()"><em class="icon ni ni-trash"></em><span>Remove
                                                    Seleted</span></a></li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>${waitNewHtml}
            </div>`);




        } catch (error) {

            if (error.response) {
                messageAlert(`<h5>${error.response.statusText}</h5>
            <p>${error.response.data.message}. Retry login</p>`, `error`);
            } else {
                messageAlert(`<h5>Oops!</h5>
            <p>${error.message}</p>`, `error`);
            }

        }
    }
    getWaiting();


    // Get All Partners
    async function getAllPartners() {
        try {

            $("#allPartners").html(`
        <div class="nk-tb-col">
            <span class="tb-lead">
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </span>
        </div>
        `);
            partnerNewHtml = "";

            var sum = 0;
            route = `${baseUrl}/becued/partners`;
            config = {
                method: 'get',
                headers: header,
                url: route
            };

            response = await axios(config);


            $("#allPartners").html(``);


            $("#countPartners").text(`You have total ${response.data.data.length} on partner list.`);

            if (response.data.data.length == 0) {
                $("#allPartners").append(`<div class="nk-tb-item nk-tb-head">
                     <div class="nk-tb-col nk-tb-col-check">
                         <div class="custom-control custom-control-sm custom-checkbox notext">
                             <input type="checkbox" class="custom-control-input" id="uid">
                             <label class="custom-control-label" for="uid"></label>
                         </div>
                     </div>
                     <div class="nk-tb-col"><span class="sub-text">User</span></div>
                     <div class="nk-tb-col tb-col-md"><span class="sub-text">Phone</span></div>
                     <div class="nk-tb-col tb-col-lg"><span class="sub-text">Company</span></div>
                     <div class="nk-tb-col tb-col-lg"><span class="sub-text">Where to find</span></div>
                     <div class="nk-tb-col tb-col-md"><span class="sub-text">Date Added</span></div>
                     <div class="nk-tb-col nk-tb-col-tools">
                         <ul class="nk-tb-actions gx-1 my-n1">
                             <li>
                                 <div class="drodown">
                                     <a href="javascript:void()" class="dropdown-toggle btn btn-icon btn-trigger mr-n1"
                                         data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                     <div class="dropdown-menu dropdown-menu-right">
                                         <ul class="link-list-opt no-bdr">
                                             <li><a href="javascript:void()"><em class="icon ni ni-mail"></em><span>Send
                                                         Email to
                                                         All</span></a></li>

                                             <li><a href="javascript:void()"><em
                                                         class="icon ni ni-trash"></em><span>Remove
                                                         Seleted</span></a></li>

                                         </ul>
                                     </div>
                                 </div>
                             </li>
                         </ul>
                     </div>
                 </div>
                 <div class="nk-tb-item">
                     <div class="nk-tb-col nk-tb-col-check">
                         <div class="custom-control custom-control-sm custom-checkbox notext">
                             <input type="checkbox" class="custom-control-input" id="uid1">
                             <label class="custom-control-label" for="uid1"></label>
                         </div>
                     </div>
                     <div class="nk-tb-col">
                         <a href="javascript:void()">
                             <div class="user-card">
                                 <div class="user-avatar bg-primary">
                                     <span>BE</span>
                                 </div>
                                 <div class="user-info">
                                     <span class="tb-lead">Becued<span
                                             class="dot dot-success d-md-none ml-1"></span></span>
                                     <span>info@becued.com</span>
                                 </div>
                             </div>
                         </a>
                     </div>

                     <div class="nk-tb-col tb-col-md">
                         <span>+1188899304882</span>
                     </div>

                     <div class="nk-tb-col tb-col-lg">
                         <span>Becued Inc.</span>
                     </div>
                     <div class="nk-tb-col tb-col-lg">
                         <span>Social media</span>
                     </div>
                     <div class="nk-tb-col tb-col-lg">
                         <span>${new Date().toLocaleString('en-GB', dateOption)}</span>
                     </div>

                     <div class="nk-tb-col nk-tb-col-tools">
                         <ul class="nk-tb-actions gx-1">
                             <li class="nk-tb-action-hidden">
                                 <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip"
                                     data-placement="top" title="Send Email">
                                     <em class="icon ni ni-mail-fill"></em>
                                 </a>
                             </li>
                             <li class="nk-tb-action-hidden">
                                 <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip"
                                     data-placement="top" title="Suspend">
                                     <em class="icon ni ni-user-cross-fill"></em>
                                 </a>
                             </li>
                             <li>
                                 <div class="drodown">
                                     <a href="javascript:void()" class="dropdown-toggle btn btn-icon btn-trigger"
                                         data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                     <div class="dropdown-menu dropdown-menu-right">
                                         <ul class="link-list-opt no-bdr">
                                             <li><a href="javascript:void()"><em class="icon ni ni-eye"></em><span>View
                                                         Details</span></a></li>
                                             <li><a href="javascript:void()"><em
                                                         class="icon ni ni-repeat"></em><span>Send
                                                         Email</span></a>
                                             </li>

                                             <li><a href="javascript:void()"><em
                                                         class="icon ni ni-trash"></em><span>Remove</span></a>
                                             </li>


                                         </ul>
                                     </div>
                                 </div>
                             </li>
                         </ul>
                     </div>
                 </div>
                 </div>`);

            } else {
                for (let i = 0; i < response.data.data.length; i++) {
                    const element = response.data.data[i];
                    partnerNewHtml += `<div
    class="nk-tb-item">
    <div class="nk-tb-col nk-tb-col-check">
        <div class="custom-control custom-control-sm custom-checkbox notext">
            <input type="checkbox" class="custom-control-input" id="uid1">
            <label class="custom-control-label" for="uid1"></label>
        </div>
    </div>
    <div class="nk-tb-col">
        <a href="javascript:void()">
            <div class="user-card">
                <div class="user-avatar bg-primary">
                    <span>${(element.name.charAt(0) +
                            element.name.charAt(1)).toUpperCase()}</span>
                </div>
                <div class="user-info">
                    <span class="tb-lead">${element.name}<span class="dot dot-success d-md-none ml-1"></span></span>
                    <span>${element.email}</span>
                </div>
            </div>
        </a>
    </div>

    <div class="nk-tb-col tb-col-md">
        <span>${element.phoneNumber}</span>
    </div>

    <div class="nk-tb-col tb-col-lg">
        <span>${element.company}</span>
    </div>
    <div class="nk-tb-col tb-col-lg">
        <span>${element.whereToFind}</span>
    </div>
    <div class="nk-tb-col tb-col-lg">
        <span>${new Date(element.created_at).toLocaleString('en-GB', dateOption)}</span>
    </div>

    <div class="nk-tb-col nk-tb-col-tools">
        <ul class="nk-tb-actions gx-1">
            <li class="nk-tb-action-hidden">
                <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top"
                    title="Send Email">
                    <em class="icon ni ni-mail-fill"></em>
                </a>
            </li>
            <li class="nk-tb-action-hidden">
                <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top"
                    title="Suspend">
                    <em class="icon ni ni-user-cross-fill"></em>
                </a>
            </li>
            <li>
                <div class="drodown">
                    <a href="javascript:void()" class="dropdown-toggle btn btn-icon btn-trigger"
                        data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="link-list-opt no-bdr">
                            <li><a href="#" class="" data-toggle="modal"
                                    data-target="#modalPartnerDefault${element._id}"><em
                                        class="icon ni ni-eye"></em><span>Quick view</span></a></li>
                            <li><a href="javascript:void()"><em class="icon ni ni-repeat"></em><span>Send
                                        Email</span></a>
                            </li>

                            <li><a href="javascript:void()"><em class="icon ni ni-trash"></em><span>Remove</span></a>
                            </li>


                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>


     <div class="modal fade zoom" tabindex="-1" id="modalPartnerDefault${element._id}">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                     <em class="icon ni ni-cross"></em>
                 </a>
                 <div class="modal-header">
                     <h5 class="modal-title">${element.name}</h5>
                 </div>
                 <div class="modal-body">
                     <div class="mb-4 ml-1 row">

                         <div class="user-avatar lg bg-primary d-none d-sm-flex">
                             <span>${(element.name.charAt(0) +
                                 element.name.charAt(1)).toUpperCase()}</span>
                         </div>
                     </div>

                     <div class="mx-auto row d-flex align-items-center">
                         <div class="row g-3">

                             <div class="col-6">
                                 <span class="sub-text">Email:</span>
                                 <span>${element.email}</span>
                             </div>
                             <div class="col-6">
                                 <span class="sub-text">Phone Number:</span>
                                 <span class="lead-text">${element.phoneNumber}</span>
                             </div>
                             <div class="col-6">
                                 <span class="sub-text">Company:</span>
                                 <span class="lead-text">${element.company}</span>
                             </div>
                             <div class="col-6">
                                 <span class="sub-text">Role:</span>
                                 <span class="lead-text">${element.role}</span>
                             </div>
                             <div class="col-6">
                                 <span class="sub-text">Industry:</span>
                                 <span class="lead-text">${element.industry}</span>
                             </div>
                             <div class="col-6">
                                 <span class="sub-text">Where to find them:</span>
                                 <span class="lead-text">${element.whereToFind}</span>
                             </div>
                             <div class="col-6">
                                 <span class="sub-text">Country:</span>
                                 <span class="lead-text">${element.country}</span>
                             </div>

                             <div class="col-6">
                                 <span class="sub-text">Date Added:</span>
                                 <span>${new Date(element.created_at).toLocaleString('en-GB',
                                     dateOption)}</span>
                             </div>
                             <div class="col-12">
                                 <span class="sub-text">What to know:</span>
                                 <span class="lead-text">${element.whatWeShouldKnow}</span>
                             </div>
                         </div>
                     </div>

                 </div>

             </div>
         </div>
     </div>

    `;
                }

                $("#allPartners").append(`<div class="nk-tb-item nk-tb-head">
        <div class="nk-tb-col nk-tb-col-check">
            <div class="custom-control custom-control-sm custom-checkbox notext">
                <input type="checkbox" class="custom-control-input" id="uid">
                <label class="custom-control-label" for="uid"></label>
            </div>
        </div>
        <div class="nk-tb-col"><span class="sub-text">User</span></div>
        <div class="nk-tb-col tb-col-md"><span class="sub-text">Phone</span></div>
        <div class="nk-tb-col tb-col-lg"><span class="sub-text">Company</span></div>
        <div class="nk-tb-col tb-col-lg"><span class="sub-text">Where to find</span></div>
        <div class="nk-tb-col tb-col-md"><span class="sub-text">Date Added</span></div>
        <div class="nk-tb-col nk-tb-col-tools">
            <ul class="nk-tb-actions gx-1 my-n1">
                <li>
                    <div class="drodown">
                        <a href="javascript:void()" class="dropdown-toggle btn btn-icon btn-trigger mr-n1"
                            data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="link-list-opt no-bdr">
                                <li><a href="javascript:void()"><em class="icon ni ni-mail"></em><span>Send Email to
                                            All</span></a></li>

                                <li><a href="javascript:void()"><em class="icon ni ni-trash"></em><span>Remove
                                            Seleted</span></a></li>

                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>${partnerNewHtml}
    </div>`);

            }





        } catch (error) {

            if (error.response) {
                messageAlert(`<h5>${error.response.statusText}</h5>
            <p>${error.response.data.message}. Retry login</p>`, `error`);
            } else {
                messageAlert(`<h5>Oops!</h5>
            <p>${error.message}</p>`, `error`);
            }

        }
    }
    getAllPartners();


    // Get All Talents
    async function getAllTalents() {
        try {

            $("#allTalents").html(`
                <div class="nk-tb-col">
                    <span class="tb-lead">
                        <div class="spinner-grow text-secondary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </span>
                </div>
                `);
            talentNewHtml = "";

            var sum = 0;
            route = `${baseUrl}/becued/talents`;
            config = {
                method: 'get',
                headers: header,
                url: route
            };

            response = await axios(config);



            $("#allTalents").html(``);


            $("#countTalents").text(`You have total ${response.data.data.length} on talent list.`);



            if (response.data.data.length == 0) {
                $("#allTalents").append(`<div class="nk-tb-item nk-tb-head">
                    <div class="nk-tb-col nk-tb-col-check">
                        <div class="custom-control custom-control-sm custom-checkbox notext">
                            <input type="checkbox" class="custom-control-input" id="uid">
                            <label class="custom-control-label" for="uid"></label>
                        </div>
                    </div>
                    <div class="nk-tb-col"><span class="sub-text">User</span></div>
                    <div class="nk-tb-col tb-col-md"><span class="sub-text">Phone</span></div>
                    <div class="nk-tb-col tb-col-lg"><span class="sub-text">Where to find</span></div>
                    <div class="nk-tb-col tb-col-lg"><span class="sub-text">Followers</span></div>
                    <div class="nk-tb-col tb-col-md"><span class="sub-text">Date Added</span></div>
                    <div class="nk-tb-col nk-tb-col-tools">
                        <ul class="nk-tb-actions gx-1 my-n1">
                            <li>
                                <div class="drodown">
                                    <a href="javascript:void()" class="dropdown-toggle btn btn-icon btn-trigger mr-n1"
                                        data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="javascript:void()"><em class="icon ni ni-mail"></em><span>Send
                                                        Email to
                                                        All</span></a></li>

                                            <li><a href="javascript:void()"><em
                                                        class="icon ni ni-trash"></em><span>Remove
                                                        Seleted</span></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nk-tb-item">
                    <div class="nk-tb-col nk-tb-col-check">
                        <div class="custom-control custom-control-sm custom-checkbox notext">
                            <input type="checkbox" class="custom-control-input" id="uid1">
                            <label class="custom-control-label" for="uid1"></label>
                        </div>
                    </div>
                    <div class="nk-tb-col">
                        <a href="javascript:void()">
                            <div class="user-card">
                                <div class="user-avatar bg-primary">
                                    <span>BE</span>
                                </div>
                                <div class="user-info">
                                    <span class="tb-lead">Becued<span
                                            class="dot dot-success d-md-none ml-1"></span></span>
                                    <span>info@becued.com</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="nk-tb-col tb-col-md">
                        <span>+1188899304882</span>
                    </div>

                    <div class="nk-tb-col tb-col-lg">
                        <span>Social media</span>
                    </div>
                    <div class="nk-tb-col tb-col-lg">
                        <span>300</span>
                    </div>
                    <div class="nk-tb-col tb-col-lg">
                        <span>${new Date().toLocaleString('en-GB', dateOption)}</span>
                    </div>

                    <div class="nk-tb-col nk-tb-col-tools">
                        <ul class="nk-tb-actions gx-1">
                            <li class="nk-tb-action-hidden">
                                <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip"
                                    data-placement="top" title="Send Email">
                                    <em class="icon ni ni-mail-fill"></em>
                                </a>
                            </li>
                            <li class="nk-tb-action-hidden">
                                <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip"
                                    data-placement="top" title="Suspend">
                                    <em class="icon ni ni-user-cross-fill"></em>
                                </a>
                            </li>
                            <li>
                                <div class="drodown">
                                    <a href="javascript:void()" class="dropdown-toggle btn btn-icon btn-trigger"
                                        data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="javascript:void()"><em class="icon ni ni-eye"></em><span>View
                                                        Details</span></a></li>
                                            <li><a href="javascript:void()"><em
                                                        class="icon ni ni-repeat"></em><span>Send
                                                        Email</span></a>
                                            </li>

                                            <li><a href="javascript:void()"><em
                                                        class="icon ni ni-trash"></em><span>Remove</span></a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>`);

            } else {
                for (let i = 0; i < response.data.data.length; i++) {
                    const element = response.data.data[i];
                    talentNewHtml
                        += `<div class="nk-tb-item">
                    <div class="nk-tb-col nk-tb-col-check">
                        <div class="custom-control custom-control-sm custom-checkbox notext">
                            <input type="checkbox" class="custom-control-input" id="uid1">
                            <label class="custom-control-label" for="uid1"></label>
                        </div>
                    </div>
                    <div class="nk-tb-col">
                        <a href="javascript:void()">
                            <div class="user-card">
                                <div class="user-avatar bg-primary">
                                    <span>${(element.name.charAt(0) +
                            element.name.charAt(1)).toUpperCase()}</span>
                                </div>
                                <div class="user-info">
                                    <span class="tb-lead">${element.name}<span
                                            class="dot dot-success d-md-none ml-1"></span></span>
                                    <span>${element.email}</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="nk-tb-col tb-col-md">
                        <span>${element.phoneNumber}</span>
                    </div>

                    <div class="nk-tb-col tb-col-lg">
                        <span>${element.whereToFind}</span>
                    </div>
                    <div class="nk-tb-col tb-col-lg">
                        <span>${element.numberofFollowers}</span>
                    </div>
                    <div class="nk-tb-col tb-col-lg">
                        <span>${new Date(element.created_at).toLocaleString('en-GB', dateOption)}</span>
                    </div>

                    <div class="nk-tb-col nk-tb-col-tools">
                        <ul class="nk-tb-actions gx-1">
                            <li class="nk-tb-action-hidden">
                                <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip"
                                    data-placement="top" title="Send Email">
                                    <em class="icon ni ni-mail-fill"></em>
                                </a>
                            </li>
                            <li class="nk-tb-action-hidden">
                                <a href="javascript:void()" class="btn btn-trigger btn-icon" data-toggle="tooltip"
                                    data-placement="top" title="Suspend">
                                    <em class="icon ni ni-user-cross-fill"></em>
                                </a>
                            </li>
                            <li>
                                <div class="drodown">
                                    <a href="javascript:void()" class="dropdown-toggle btn btn-icon btn-trigger"
                                        data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="#" class="" data-toggle="modal"
                                                    data-target="#modalTalentDefault${element._id}"><em
                                                        class="icon ni ni-eye"></em><span>Quick view</span></a></li>
                                            <li><a href="javascript:void()"><em
                                                        class="icon ni ni-repeat"></em><span>Send
                                                        Email</span></a>
                                            </li>

                                            <li><a href="javascript:void()"><em
                                                        class="icon ni ni-trash"></em><span>Remove</span></a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    </div>

                    <div class="modal fade zoom" tabindex="-1" id="modalTalentDefault${element._id}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                    <em class="icon ni ni-cross"></em>
                                </a>
                                <div class="modal-header">
                                    <h5 class="modal-title">${element.name}</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-4 ml-1 row">

                                        <div class="user-avatar lg bg-primary d-none d-sm-flex">
                                            <span>${(element.name.charAt(0) +
                                                element.name.charAt(1)).toUpperCase()}</span>
                                        </div>
                                    </div>

                                    <div class="mx-auto row d-flex align-items-center">
                                        <div class="row g-3">

                                            <div class="col-6">
                                                <span class="sub-text">Email:</span>
                                                <span>${element.email}</span>
                                            </div>
                                            <div class="col-6">
                                                <span class="sub-text">Phone Number:</span>
                                                <span class="lead-text">${element.phoneNumber}</span>
                                            </div>
                                            <div class="col-6">
                                                <span class="sub-text">Where to find them:</span>
                                                <span class="lead-text">${element.whereToFind}</span>
                                            </div>
                                            <div class="col-6">
                                                <span class="sub-text">Social handle:</span>
                                                <span class="lead-text">${element.handle}</span>
                                            </div>
                                            <div class="col-6">
                                                <span class="sub-text">Followers:</span>
                                                <span class="lead-text">${element.numberofFollowers}</span>
                                            </div>
                                            
                                            <div class="col-6">
                                                <span class="sub-text">Date Added:</span>
                                                <span>${new Date(element.created_at).toLocaleString('en-GB',
                                                    dateOption)}</span>
                                            </div>
                                            <div class="col-12">
                                                <span class="sub-text">What to know:</span>
                                                <span class="lead-text">${element.whatWeShouldKnow}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    `;
                }

                $("#allTalents").append(`<div class="nk-tb-item nk-tb-head">
                        <div class="nk-tb-col nk-tb-col-check">
                            <div class="custom-control custom-control-sm custom-checkbox notext">
                                <input type="checkbox" class="custom-control-input" id="uid">
                                <label class="custom-control-label" for="uid"></label>
                            </div>
                        </div>
                        <div class="nk-tb-col"><span class="sub-text">User</span></div>
                        <div class="nk-tb-col tb-col-md"><span class="sub-text">Phone</span></div>
                        <div class="nk-tb-col tb-col-lg"><span class="sub-text">Where to find</span></div>
                        <div class="nk-tb-col tb-col-lg"><span class="sub-text">Followers</span></div>
                        <div class="nk-tb-col tb-col-md"><span class="sub-text">Date Added</span></div>
                        <div class="nk-tb-col nk-tb-col-tools">
                            <ul class="nk-tb-actions gx-1 my-n1">
                                <li>
                                    <div class="drodown">
                                        <a href="javascript:void()"
                                            class="dropdown-toggle btn btn-icon btn-trigger mr-n1"
                                            data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="javascript:void()"><em
                                                            class="icon ni ni-mail"></em><span>Send Email to
                                                            All</span></a></li>

                                                <li><a href="javascript:void()"><em
                                                            class="icon ni ni-trash"></em><span>Remove
                                                            Seleted</span></a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>${talentNewHtml}
                    </div>`);

            }





        } catch (error) {

            if (error.response) {
                messageAlert(`<h5>${error.response.statusText}</h5>
                    <p>${error.response.data.message}. Retry login</p>`, `error`);
            } else {
                messageAlert(`<h5>Oops!</h5>
                    <p>${error.message}</p>`, `error`);
            }

        }
    }
    getAllTalents();


    // Get Recent Bookings
    async function getRecentBookings() {
        try {

            $("#recentBookings").html(`
        <div class="nk-tb-col">
            <span class="tb-lead">
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                </span>
        </div>
        `);

            var sum = 0;
            route = `${baseUrl}/becued/latestbookings`;
            config = {
                method: 'get',
                headers: header,
                url: route
            };

            response = await axios(config);

            $("#recentBookings").html('');
            newHtml = "";

            for (let i = 0; i < response.data.data.length; i++) {
                const element = response.data.data[i];

                newHtml += `
                <div class="nk-tb-item">
                <div class="nk-tb-col">
                    <span class="tb-lead"><a href="javascript:void()">${element.info._id}</a></span>
                </div>
                <div class="nk-tb-col tb-col-sm">
                    <div class="user-card">
                        <div class="user-avatar sm bg-purple-dim">
                            <img src="${element.fans.avatar == `NULL` ? defaultAvatarUrl : element.fans.avatar}"
                                alt="${element.fans._id}" />
                        </div>
                        <div class="user-name">
                            <span class="tb-lead">${element.fans.fullname}</span>
                        </div>
                    </div>
                </div>
                <div class="nk-tb-col tb-col-md">
                    <span class="tb-sub">${new Date(element.info.created_at).toLocaleString('en-GB', dateOption)}</span>
                    
                </div>
                <div class="nk-tb-col">
                    <span class="tb-sub tb-amount">${element.info.amountPaid}
                        <span>NGN</span></span>
                </div>
                <div class="nk-tb-col">
                    <span class="badge badge-dot badge-dot-xs ${element.info.paymentStatus == "not paid" ?
                        `badge-danger` : `badge-success`}">${element.info.paymentStatus}</span>
                </div>
                </div>
                `;
            }


            $("#recentBookings").append(`<div class="nk-tb-list mt-n2">
                <div class="nk-tb-item nk-tb-head">
                <div class="nk-tb-col"><span>Booking No.</span></div>
                <div class="nk-tb-col tb-col-sm"><span>Customer</span></div>
                <div class="nk-tb-col tb-col-md"><span>Date</span></div>
                <div class="nk-tb-col"><span>Amount</span></div>
                <div class="nk-tb-col"><span class="d-none d-sm-inline">Status</span></div>
            </div>${newHtml}</div>`);

        } catch (error) {

            if (error.response) {
                messageAlert(`<h5>${error.response.statusText}</h5>
            <p>${error.response.data.message}. Retry login</p>`, `error`);
            } else {
                messageAlert(`<h5>Oops!</h5>
            <p>${error.message}</p>`, `error`);
            }

        }
    }
    getRecentBookings();
</script>