<button type="button" class="btn btn-primary messageModal disp-0" data-toggle="modal" data-target="#modalForm">Modal
    With Form</button>


<button type="button" class="btn btn-primary generalmessageModal disp-0" data-toggle="modal"
    data-target="#generalmodalForm">Modal
    With Form</button>


<button type="button" class="btn btn-primary accountStateModal disp-0" data-toggle="modal"
    data-target="#accountStateForm">Modal
    With Form</button>



<button type="button" class="btn btn-primary pricingSetup disp-0" data-toggle="modal"
    data-target="#pricingSetupForm">Modal
    With Form</button>


<button type="button" class="btn btn-primary categorySetup disp-0" data-toggle="modal" data-target="#categoryForm">Modal
    With Form</button>


<div class="modal fade" tabindex="-1" id="modalForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send Message</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form action="#" class="form-validate is-alter" id="modalElem">
                    <div class="form-group">
                        <label class="form-label" for="subject">Subject</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="subject" name="subject" required>
                            <input type="hidden" class="form-control" id="_id" name="_id" value="">
                            <input type="hidden" class="form-control" id="value" name="value" value="">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="form-label" for="message">Message</label>
                        <div class="form-control-wrap">
                            <textarea type="text" class="form-control summernote-basic" id="message" name="message"
                                required></textarea>


                        </div>
                    </div>


                    <div class="form-group">
                        <label class="form-label">Communication</label>
                        <ul class="custom-control-group g-3 align-center">
                            <li>
                                <div class="custom-control custom-control-sm custom-checkbox">
                                    <input type="checkbox" name="email" class="custom-control-input" id="com-email"
                                        value="email">
                                    <label class="custom-control-label" for="com-email">Email</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-control-sm custom-checkbox">
                                    <input type="checkbox" name="sms" class="custom-control-input" id="com-sms"
                                        value="sms">
                                    <label class="custom-control-label" for="com-sms">SMS</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-control-sm custom-checkbox">
                                    <input type="checkbox" name="notification" class="custom-control-input"
                                        id="com-phone" value="push notification">
                                    <label class="custom-control-label" for="com-phone">Push Notification</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary submitBtn" onclick="processAlert()">Send
                            Message</button>

                        <button class="btn btn-primary btn-lg btn-block spinload disp-0" type="button" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span> Loading... </span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-light">
                <span class="sub-text">Becued - 2022</span>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" tabindex="-1" id="accountStateForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Account Status</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form action="#" class="form-validate is-alter" id="accountStateElem">
                    <div class="form-group">
                        <label class="form-label" for="subject">Account status</label>
                        <div class="form-control-wrap">
                            <select name="accountStatus" id="accountStatus" class="form-control form-select">
                                <option value="NILL">Select account status</option>
                                <option value="Pending">Pending</option>
                                <option value="Deactivated">Deactivate</option>
                            </select>
                            <input type="hidden" class="form-control _statusid" name="_id" value="">
                            <input type="hidden" class="form-control valueid" name="value" value="">

                            <!-- <span class="_statusid"></span>
                            <span class="valueid"></span> -->
                        </div>
                    </div>


                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary submitBtn"
                            onclick="processStatus()">Submit</button>

                        <button class="btn btn-primary btn-lg btn-block spinload disp-0" type="button" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span> Loading... </span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-light">
                <span class="sub-text">Becued - 2022</span>
            </div>
        </div>
    </div>
</div>




<!-- Send Bulk Mesasge -->

<div class="modal fade" tabindex="-1" id="generalmodalForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send Message</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form action="#" class="form-validate is-alter" id="generalmodalElem">
                    <div class="form-group">
                        <label class="form-label" for="subject">Subject</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="subject" name="subject" required>


                        </div>
                    </div>


                    <div class="form-group">
                        <label class="form-label" for="target">Target</label>
                        <div class="form-control-wrap">

                            <select name="value" id="value" class="form-control">
                                <option value="">Select target audience</option>
                                <option value="all celebs">All Celebrities</option>
                                <option value="all fans">All Fans</option>
                                <option value="all waitlists">All Waitlist</option>
                                <option value="all partners">All Partners</option>
                                <option value="all talents">All Talents</option>
                            </select>


                        </div>
                    </div>


                    <div class="form-group">
                        <label class="form-label" for="message">Message</label>
                        <div class="form-control-wrap">
                            <textarea type="text" class="form-control summernote-basic" id="message" name="message"
                                required></textarea>


                        </div>
                    </div>


                    <div class="form-group">
                        <label class="form-label">Communication</label>
                        <ul class="custom-control-group g-3 align-center">
                            <li>
                                <div class="custom-control custom-control-sm custom-checkbox">
                                    <input type="checkbox" name="email" class="custom-control-input" id="com-email-2"
                                        value="email">
                                    <label class="custom-control-label" for="com-email-2">Email</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-control-sm custom-checkbox">
                                    <input type="checkbox" name="sms" class="custom-control-input" id="com-sms-2"
                                        value="sms">
                                    <label class="custom-control-label" for="com-sms-2">SMS</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-control-sm custom-checkbox">
                                    <input type="checkbox" name="notification" class="custom-control-input"
                                        id="com-phone-2" value="push notification">
                                    <label class="custom-control-label" for="com-phone-2">Push Notification</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary submitBtn"
                            onclick="processGeneralAlert()">Send
                            Message</button>

                        <button class="btn btn-primary btn-lg btn-block spinload disp-0" type="button" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span> Loading... </span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-light">
                <span class="sub-text">Becued - 2022</span>
            </div>
        </div>
    </div>
</div>



<!-- Setup Pricing -->

<div class="modal fade" tabindex="-1" id="pricingSetupForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Setup Price</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form action="#" class="form-validate is-alter" id="pricemodalElem">
                    <div class="form-group">
                        <label class="form-label" for="referenceName">Reference Name</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="referenceName" name="referenceName" required>


                        </div>
                    </div>


                    <div class="form-group">
                        <label class="form-label" for="appleId">Apple ID</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="appleId" name="appleId" required>


                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="productId">Product ID</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="productId" name="productId" required>


                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="amount">Amount</label>
                        <div class="form-control-wrap">
                            <input type="number" min="1" step="1.00" class="form-control" id="amount" name="amount"
                                required>


                        </div>
                    </div>




                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary submitBtn"
                            onclick="processSetup()">Submit</button>

                        <button class="btn btn-primary btn-lg btn-block spinload disp-0" type="button" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span> Loading... </span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-light">
                <span class="sub-text">Becued - 2022</span>
            </div>
        </div>
    </div>
</div>



<!-- Add new category -->

<div class="modal fade" tabindex="-1" id="categoryForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Category</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form action="#" class="form-validate is-alter" id="categorymodalElem">
                    <div class="form-group">
                        <label class="form-label" for="categoryName">Name</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="categoryName" name="name" required>


                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="customFileLabel">Category Image Upload</label>
                        <div class="form-control-wrap">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="image">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-primary submitBtn"
                            onclick="addCategory()">Submit</button>

                        <button class="btn btn-primary btn-lg btn-block spinload disp-0" type="button" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span> Loading... </span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-light">
                <span class="sub-text">Becued - 2022</span>
            </div>
        </div>
    </div>
</div>