<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Growng">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Innovation is our DNA">
    <!-- Fav Icon  -->
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/growng/image/upload/v1652145577/assets/Green_PNG_mehxeo.png">
    <!-- Page Title  -->
    <title>Growng Dashboard</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="assets/css/dashlite.css?ver=2.4.0">
    <link id="skin-default" rel="stylesheet" href="assets/css/theme.css?ver=2.4.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="assets/css/editors/summernote.css?ver=2.4.0">


    <style>
        .disp-0 {
            display: none !important;
        }
    </style>
</head>

<body class="nk-body bg-lighter npc-default has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">